@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Roboto:wght@100;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Oswald:wght@300&family=Roboto:wght@100;500&display=swap);
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
html, body {
	
	overflow-x: hidden !important;
	scroll-behavior: smooth;
}

*{

	margin: 0;
	padding: 0;
	
}

body{
	width: 100%;
	height: 100vh;
}

header{
	
	width: 100%;
	
	
}

.nav{

	position: fixed;
	width: 100%;
	height: 25px;
	align-items: center;
	padding:  10px 25px 25px 25px;
	transition: all 0.5s ease;
	background: black;
	box-shadow: 0px 5px 5px 5px black;
	font-family:  'PT Sans', sans-serif;
	

}

.menu{	

	display: flex;

	
}

.menu li{
	
	padding-top: 10px;
	list-style: none;
	
}
.menu li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.5s ease;
	margin: 10px;
}
.menu li a i{
	padding-right: 4px;
}

.menu li a:hover {
	padding:  15px 15px 15px 15px;
	background: #fff;
	color: #000;
	border-radius: 15px;

}
.checkbtn{
	font-size: 30px;
	float: left;
	line-height: 60px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;

}

#particles-js{
	background-color: #191c32;
	
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;

}

.presentacion{
	

	
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #191c32;
	background: transparent;
	gap: 60px;
	
	

}
.presentacion .texts{
	padding-top: 200px;
	background: transparent;
	font-style: Montserrat;
	font-family: 'Barlow Condensed', sans-serif;
	color: white;
	text-align: center;
	font-size: 5vh;
	letter-spacing: 8px;


}


.personalinfo{
	padding-top: 200px;
	color: white;
	display: grid;
	grid-template-columns:repeat(2, 2fr) ;
	width: 100vw;
	background-color: #191c32;
	
	

}
.profilepicture{
	
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}

.profilepicture img{
	
	width: 600px;
	height: 600px;
	border-radius: 50%;
}
.info {
	padding-top:40px;
	font-size: 3vh;
	margin-right: 60px;

}
.info h3{
	margin: 20px;
	font-size: 10vh;
	font-family: 'Barlow Condensed', sans-serif;
}
.info p{
	margin: 20px;
	font-weight: 700;
	font-size: 3vh;
	font-family: 'Barlow Condensed', sans-serif;

}
.personalinfo .info p i{
	margin: 5px;
	

}
.skills{
	padding-top: 200px;
	color: white;
	background-color: #191c32;
	height: auto;
	overflow: hidden;
	text-align: center;
	
}

.skills	p{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 4vh;
	font-weight: 800;
	padding-bottom: 20px;

}

.skills	h3{
	
	margin: 8vh;
	font-size: 10vh;
	font-family: 'Barlow Condensed', sans-serif;
	letter-spacing: 8px;

}

.projects{
	width: 100%;
	height: 1000px;
	color: white;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 2vh;
	letter-spacing: 4px;
	background-color: #191c32;
	overflow: hidden;
	text-align: center;


}

.projects h3{
	margin: 10vh;
	font-size: 7vh;
	font-family: 'Barlow Condensed', sans-serif;
	letter-spacing: 8px;
	text-align: center;
}
.projects .container{
	width: 100%;
	height: auto;
	display: grid; 
	grid-template-columns: 1fr; 
	grid-template-rows: 0.9fr; 
	gap: 0px 0px; 
	grid-template-areas: 
	"card1"; 
	justify-content: center;
}
.card1 { grid-area: card1; }

.projects .card1{
	width: 400px;
	height: auto;
	border-radius: 5px;
	margin-left: 200px;
	
}
.card1 img{
	border-radius: 5px;
	width: 100%;
	height: auto;
}

.card1 .card1_header{
	width: 100%;
	height: auto;
	background-color: #0047AB;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

}
.card_desc{
	width: 100%;
	height: auto;
	background-color:#0047AB;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}


.ul_desc li{
	list-style: none;
}
.card_desc a{
	color: white;
	text-decoration: none;
	
}

.button_card{
	color: white;
	margin-top: 5px;
	width: 100%;
	height: 50px;
	background-color:#0047AB;
	border: none;
	
transition: all .5s;
}

.button_card:hover {
  background: #00308F;
}

.contact{
	width: 100%;
	font-style: Montserrat;
	color: white;
	font-family: 'Barlow Condensed', sans-serif;
	background-color: #191c32;
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: auto auto; 
	grid-template-areas: 
	"contact contact"
	"contact-download contact-links"; 

}

.contact-tittle{
	padding-top: 100px;
	width: 100%;
	height: 200px;
	font-size: 7vh;
	font-family: 'Barlow Condensed', sans-serif;
	letter-spacing: 8px;
	text-align: center;
	grid-area: contact;
	
}
.download{
	
	font-size: 7vh;
	display: flex;
	justify-content: center;


}
.download .contact-download{
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 100px;
	
}
.download .contact-download i{
	margin: 20px;
	font-size: 100px;
}

.contact-links{
	
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 100px;
	grid-area: contact-links;


}
.contact-links div{
	display: flex;
	align-items: center;
}
.contact-links a{
	padding-left: 10px;
	font-size: 3vh;
	text-decoration: none;
	color: white;	
}
.contact-links i{
	margin: 15px;
	font-size: 8.3vh;
}

.menu li{
	margin: 15px 0;

}

.content-emails{

	width: 100%;
	color: white;
	padding: 1.5em;
	background-color: #191c32;
	overflow: hidden;

}
.logo{
	padding-top: 200px;
	text-align: center;
	font-size: 10vh;
	font-family: 'Barlow Condensed', sans-serif;
	letter-spacing: 8px;
}
span{
	color: aqua;
	font-size: 12vh;
}

.contact-wrapper{
/*
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	*/
	margin: 4em;
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 0.9fr 1.1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
	"contact-form contact-img"
	"contact-form contact-img"; 

}
.contact-wrapper > *{
	padding: 1em;

}
.contact-form { grid-area: contact-form; }
.contact-img { grid-area: contact-img; }
.contact-form form{
	margin: 0;
	padding: 1em;
}
.contact-inputs{
	display: flex;
	flex-direction: column;
	align-items: center;

}
.contact-inputs div{
	
	padding: 2em;
}
.contact-inputs  div input{
	padding: 10px 20px;
	margin-bottom: 1em;
	border: none;
	background: none;
	border-bottom: 1px solid white;
	color: white;
}

textarea{
	padding: 10px 20px;
	margin-bottom: 1em;
	background: none;
	border: 1px solid #fff;
	background: none;
	width: 45vh;
	min-height: 150px;
	resize: none;
	color: white;
}
.contact-inputs button{
	background: aqua;
	border: none;
	color: black;
	font-size: 20px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 20px;
	
}

.contact-img i{
	font-size: 400px;
	color: aqua;
	margin: 100px;
}


@media (max-width: 1300px) {
	.contact-img{
		display: none;
	}
	.contact-wrapper{
		display: grid; 
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: 0.9fr 1.1fr; 
		gap: 0px 0px; 
		grid-template-areas: 
		"contact-form contact-form"
		"contact-form contact-form"; 

	}

	.contact-form { grid-area: contact-form; }
}

@media (min-width: 850px) and (max-width: 1150px){
	.personalinfo{
		grid-template-columns:repeat(1, 1fr) ;
	}
	.personalinfo h3{
		text-align: center;
	}
	
	.profilepicture{
		text-align: center;
		padding-left: 0px;

	}
	.info{
		padding-left: 20px;
	}
	.skills{
		height: auto;
	}
	
	.contact .download{
		padding-left: 20px;
	}
	
	
	.contact-wrapper{
		display: grid; 
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: 0.9fr 1.1fr; 
		gap: 0px 0px; 
		grid-template-areas: 
		"contact-form contact-form"
		"contact-form contact-form"; 

	}

	.contact-form { grid-area: contact-form; }

	.menu{
		justify-content: center;
	}
	
}

@media (max-width: 849px){



	.checkbtn{
		display: block;
		
	}
	.menu i{
		display: none;
	}
	.menu{
		display: inline-block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 44vh;
		background: rgba(15, 57, 122, 1);
		top: 65px;
		left: -100%;
		text-align: left;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	#check:checked ~ ul{
		left:0;
	}
	.personalinfo{
		grid-template-columns:repeat(1, 1fr) ;
	}
	.profilepicture img{
		width: 400px;
		height: 400px;
		
		
	}
	.info h3{
		text-align: center;
		margin-bottom: 100px;
	}
	.contact{
		display: grid; 
		grid-template-columns: 1fr; 
		grid-template-rows: auto auto auto; 
		gap: 0px 0px; 
		grid-template-areas: 
		"contact-tittle"
		"download"
		"contact-links"; 
	}
	.contact-tittle { grid-area: contact-tittle; width: 100%; height: auto;}
	.download { grid-area: download; padding-left: 20px; width: 100%; height: auto;  font-size: 5vh; float: left; justify-content: left;}
	.contact-links { grid-area: contact-links; padding-top: 0px;  gap: 20px;padding-left: 20px; width: 100%; height: auto }
	
	.download .contact-download i{
		margin: 10px;
		font-size: 70px;

	}
	.download .contact-download{
		padding-top: 50px;
		display: flex;
		flex-direction: column;
		gap: 20px;

	} 

	.contact-download a{
		padding-left: 24px;
		font-size: 30px;
		
	}
	.contact-links a{
		padding-left: 10px;
		font-size: 30px;


	}
	.contact-links div i{
		font-size: 70px;
	}
	.content-emails .logo{
		padding-top: 0;
	}
	.contact-wrapper{
		margin: 0;
	}
	.contact-inputs div{
		padding: 0px;
		margin-right: 40px;
	}
	.contact-inputs  div input{
		padding: auto;

	}
}